h3 {
    color: rgb(90, 90, 163);
    font-size: 3em;
    color: rgb(0, 0, 0);
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5cm;
}

button {
    padding: 25px 30px;
    background-color: #000000;
    color: #03e9f4;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 22cm;
    padding: 0.5;
    border-radius: 5em;

}

button:hover {
    background: #03e9f4;
    color: #ffffff;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.action-button {
    padding: 10px 40px;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    /* Ici on modifie la couleur et le fond de notre petit bouton */
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}

h3 {
    font-family: "Playwrite NZ Basic"
}

h3 {
    display: inline-block;
}

body {
    background-color: rgb(156, 178, 218);
}

img {
    margin-top: 2cm;
    width: auto;
    height: 250px;
    border-radius: 1em;
    margin-left: 3em;
}

img:hover {
    opacity: 0.5;
}